extends ../layouts/common.pug

block content
  h1 
    span.me-3 Users
    a.btn.btn-primary(href="/users/create") Add user
  
  .d-flex.align-items-center
    form.d-flex(action="/users/search", method="GET") 
      input.form-control(type="text", name="q", value=curent)
      button.btn.btn-primary.ms-2(type="submit") Search

  table.table 
    tr 
      th Avatar
      th Name
      th Email 
      th Actions 

    each user in users
      tr
        td 
          img(src= user.avatar ? user.avatar : './images/noimage.jpg', alt="", class="user__avatar")
        td= user.name
        td= user.email
        td 
          a.btn.btn-light(href=`/users/${user.id}`) view

    if users.length === 0
      p Từ khóa bạn tìm hiện không có

