extends ../layouts/common.pug

block content
  h1 Users
  a(href="/users/create") Add user
  
  form(action="/users/search", method="GET") 
    input(type="text", name="q", value=curent )
    button(type="submit") Search

  each user in users
    li
      span= user.name
      span &nbsp
      a(href=`/users/${user.id}`) view

  if users.length === 0
    p Từ khóa bạn tìm hiện không có

